<div>
  <!-- 面包屑导航 -->
  <el-breadcrumb separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb>
  <!-- input 搜索框 -->
  <el-row :gutter="20">
    <el-col :span='8'>
      <el-input placeholder="请输入内容" @change='searchUserkey' v-model="search">
        <el-button @click='searchUser' slot="append" icon="el-icon-search"></el-button>
      </el-input>
    </el-col>
    <el-col :span='8'>
      <el-button @click='showAddUser'>添加用户</el-button>
    </el-col>
  </el-row>

  <!-- 表格数据 -->
  <el-table :data="tableData" style="width: 100%">
    <el-table-column prop="username" label="姓名" width="180">
    </el-table-column>
    <el-table-column prop="email" label="邮箱" width="180">
    </el-table-column>
    <el-table-column prop="mobile" label="电话">
    </el-table-column>
    <el-table-column label="用户状态">
      <template slot-scope='scope'>
        <el-switch @change='xiugai(scope.row)' v-model="scope.row.mg_state">
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope='scope'>
        <el-button type="primary" icon="el-icon-edit" plain @click='dialogShowForm(scope.row)'>

        </el-button>
        <el-button @click='delUser(scope.row.id)' type="danger" icon="el-icon-delete" plain></el-button>
        <el-button type="success" icon="el-icon-check" plain>分配角色</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination :current-page='pagenum' :page-size='2' background layout="prev, pager, next" :total="total"
    @current-change='currentPageChange'>
  </el-pagination>

  <!-- 第一个对话框 -->
  <el-dialog @close='hide' title="收货地址" :visible.sync="dialogAddUserVisible">
    <el-form ref='addDialog' :model="addUserForm" label-width='80px' :rules='rules'>
      <el-form-item label="用户名" prop='username'>
        <el-input v-model="addUserForm.username" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop='password'>
        <el-input v-model="addUserForm.password" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop='email'>
        <el-input v-model="addUserForm.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop='mobile'>
        <el-input v-model="addUserForm.mobile" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAddUserVisible = false">取 消</el-button>
      <el-button type="primary" @click='addUser'>确 定</el-button>
    </div>
  </el-dialog>
  <!-- 打开第二个对话框 -->
  <el-dialog title="编辑用户" :visible.sync="dialogAmentFormVisible">
    <el-form :model="amentForm" label-width='80px'>
      <el-form-item label="用户名">
        <el-tag type="info">{{amentForm.username}}</el-tag>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="amentForm.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="amentForm.mobile" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAmentFormVisible = false">取 消</el-button>
      <el-button type="primary" @click='amentUsersForm'>确 定</el-button>
    </div>
  </el-dialog>

</div>
